@page "/newstudents"

@using UniversityBlazorApp.Data
@using UniversityBlazorApp.Context

<h1>Добавление нового студента</h1>


<EditForm Model="@student" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            FirstName:
            <InputText @bind-Value="student.FirstName" />
        </label>
    </p>
    <p>
        <label>
            MiddleName:
            <InputText @bind-Value="student.MiddleName" />
        </label>
    </p>
    <p>
        <label>
            FamilyName:
            <InputText @bind-Value="student.FamilyName"/>
        </label>
    </p>
    <p>
        <label>
            Class:
            <InputNumber @bind-Value="student.Class" />
        </label>
    </p>
    <p>
        <label>
           Phone:
            <InputText @bind-Value="student.Phone" />
        </label>
    </p>
     <p>
        <label>
           Email:
            <InputText @bind-Value="student.Email" />
        </label>
    </p>
    <p>
        <label>
            BirthDate:
            <InputDate @bind-Value="student.Birthdate" />
        </label>
    </p>
   <h1>@message</h1> 
    <button type="submit">Submit</button>
</EditForm>

@code {
    private Student student = new();
    public string message = "";
    private void HandleValidSubmit()
    {
        using (universityContext db = new universityContext())
            {
                db.Students.Add(student);
                db.SaveChanges();
                message = student.FirstName;
            }
    }
}
